In [1]:
#import pandas as pd bring in multiple tool to help manipulate data sets, NumPy for numerical computations, and Matplotlib for data visualization, Pylib for all three (plus more useful tools)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylib import *

import urllib
import os
import shutil
import zipfile

In [18]:
import pandas as pd 

path_to_file="/Users/kboothomefolder/phy577_projects/hw1/bb4003017c.zip/LaJolla_SALT_1916-202303.csv" 

Salt_Data= pd.read_csv(path_to_file)

#print(Salt_Data.iloc[0:50])
Salt_Data.drop(range(0, 44), inplace=True)
Salt_Data.drop(columns=Salt_Data.columns[-2:], inplace=True) # drop last two blank columns in orig dataframe (TRUE)

Salt_Data.columns = Salt_Data.iloc[0]
Salt_Data = Salt_Data[1:]
print(Salt_Data.iloc[0:10])

Salt_Data['datestr']=Salt_Data.iloc[:,0:3].astype(str).apply('-'.join,axis=1)

surface_salinity = np.asarray(pd.to_numeric(Salt_Data['SURF_SAL_PSU']))

# variable_name = data that is being assigned to variables <<<<<---- formatting for assigning a variable

print(Salt_Data.iloc[0:10])

44  YEAR MONTH DAY TIME_PST TIME_FLAG SURF_SAL_PSU SURF_FLAG BOT_SAL_PSU  \
45  1916     8  22      NaN       NaN          NaN         0         NaN
46  1916     8  23      NaN       NaN        33.57         0         NaN
47  1916     8  24      NaN       NaN          NaN         0         NaN
48  1916     8  25      NaN       NaN        33.60         0         NaN
49  1916     8  26      NaN       NaN        33.51         0         NaN
50  1916     8  27      NaN       NaN          NaN         0         NaN
51  1916     8  28      NaN       NaN        33.54         0         NaN
52  1916     8  29      NaN       NaN        33.53         0         NaN
53  1916     8  30      NaN       NaN        33.53         0         NaN
54  1916     8  31      NaN       NaN        33.44         0         NaN

44 BOT_FLAG  NaN  NaN
45        0  NaN  NaN
46        0  NaN  NaN
47        0  NaN  NaN
48        0  NaN  NaN
49        0  NaN  NaN
50        0  NaN  NaN
51        0  NaN  NaN
52        0  NaN  NaN
53        0  NaN  NaN
54        0  NaN  NaN
44  YEAR MONTH DAY TIME_PST TIME_FLAG SURF_SAL_PSU SURF_FLAG BOT_SAL_PSU  \
45  1916     8  22      NaN       NaN          NaN         0         NaN
46  1916     8  23      NaN       NaN        33.57         0         NaN
47  1916     8  24      NaN       NaN          NaN         0         NaN
48  1916     8  25      NaN       NaN        33.60         0         NaN
49  1916     8  26      NaN       NaN        33.51         0         NaN
50  1916     8  27      NaN       NaN          NaN         0         NaN
51  1916     8  28      NaN       NaN        33.54         0         NaN
52  1916     8  29      NaN       NaN        33.53         0         NaN
53  1916     8  30      NaN       NaN        33.53         0         NaN
54  1916     8  31      NaN       NaN        33.44         0         NaN

44 BOT_FLAG  NaN  NaN    datestr
45        0  NaN  NaN  1916-8-22
46        0  NaN  NaN  1916-8-23
47        0  NaN  NaN  1916-8-24
48        0  NaN  NaN  1916-8-25
49        0  NaN  NaN  1916-8-26
50        0  NaN  NaN  1916-8-27
51        0  NaN  NaN  1916-8-28
52        0  NaN  NaN  1916-8-29
53        0  NaN  NaN  1916-8-30
54        0  NaN  NaN  1916-8-31

In [ ]:
# creating array from csv data file
# Need to use range function to exclude header rows/columns. Exlcude rows 0-45.
#38,983 rows, 14 columns for Temp data; 38,983 rows, 11 columns for Salt Data

import csv

# open file for reading

with open('C:\\Users\\cbeau\\Downloads\\LaJolla_SALT_1916-202303.csv') as Salt_Data:

    # open file as csv file
    csvReader = csv.reader(Salt_Data)

    # loop over rows
    for row in csvReader:

        # add cell [0] to list of dates
        rows.append(range[46,38983])

        # add cell [1] to list of scores
        columns.append(range[0,10])